:root{
    user-select: none;
    font-family:Arial, Helvetica, sans-serif;
}

$greyish: rgba(0,0,0,0.7);
$whiter-grey: rgba(0,0,0,0.3);

%boxShadow{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 30px -17px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.active::before {
    content: "> ";

}

.active{ 
    font-weight: 700;
}

h1{
    font-size: 5em;
    font-weight: 100;
    text-shadow:   4px 3px 0px black, white 6px 5px 0px,black 8px 7px 0px;
    transition: text-shadow 2s;
}

h1:hover{
    text-shadow: -4px -4px 0px black, white -7px -7px 0px, black -10px -10px 0px;
}

@mixin displayFlex($justifyContent:center, $alignItems:center){
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin buttonStyle($width:200px,$height:50px){
    width: $width;
    height: $height;
    background-color: white;
    border: 3px solid black;
    border-radius: 2px;
    font-size: 1.6rem

    

}

button{
    @extend %boxShadow;

}

.project:hover{
    cursor: grab;
}

button:hover{
    cursor: grab;
    font-weight: 900;
    color: $greyish;
    border-color: $greyish;
    
}

button:active{
    color: $whiter-grey;
}


button.addNewProject{
    @include buttonStyle(150px);
    margin-bottom: 20px
}

button.addNewTask{
    @include buttonStyle(100px,50px);
    margin: 20px;
    
}

.header{
    padding: 10px;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 80px;
    @include displayFlex(start, center);
    

    border-bottom: black solid 5px;
}

#sidebar{
    @include displayFlex(space-between, center);
    flex-direction: column;

    grid-row: 2/3;
    border-right: 5px black solid;  

}

.project{
    @include displayFlex(start, center);
    font-size: 2em;
    padding: 10px;
    

}

#projects{
    padding: 30px;
}

.task-date{
    font-weight: 100;
    font-size: 0.3em;
}

#content{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: max(230px,20%) 1fr;
    grid-template-rows: 125px 1fr;
}

.todo-item{
    font-size: 2em;
    font-weight: 700;
    padding:20px;
    border: 1px black solid;
    margin-bottom: -1px;
}

#todo-item::before{
    content:">";
    margin: 5px 20px;
}

#todo-container{
    @include displayFlex(space-between, start);
    flex-direction: column;
}

